[submodule "apps/anytree"]
	path = apps/anytree
	url = https://github.com/c0fec0de/anytree.git
[submodule "apps/UXsim"]
	path = apps/UXsim
	url = https://github.com/toruseo/UXsim.git
[submodule "apps/helloWorld"]
	path = apps/helloWorld
	url = https://github.com/Misrobody/helloWorld.git
